@font-face {
    font-family: "Alice Regular";
    src: url(../../fonts/Alice-Regular.ttf) format("truetype");
}
.die.selected {
	background-image: url('../dieselected.gif');
}
table, th, td {
	border: 1px solid black;

}
td {
	width: 200px;
}
table td.chkbx {
	width: 20px;
}
.score {
	font-family: "Alice Regular", cursive;
	color: blue;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}
.choice {
	font-family: "Alice Regular", cursive;
	color: blueviolet;
	background-color: antiquewhite;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}
.total {
	font-family: "Alice Regular", cursive;
	color: darkgreen;
	background-color: darkseagreen;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}
td.highlight {
	background-color: #FFA07A;
}
h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.diceGroup h4 {
    display: inline;
    font-size: 1em;
}
h4#idhumanheader {
    font-size: 1em;
    color: blue;
}
h4#swalgameover {
   color: darkgreen;
}
